<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/generateSchema" method="POST">
            <label >Author:</label>
            <input type="text" name="author">
            <label>PrivateKeyMultibase</label>
            <input type="text" name="privateKeyMultibase">
            <label>VerificationMethodId</label>
            <input type="text" name="verificationMethodId">
             <button>GenerateSchema</button>
        </form>
    </div>
</body>
</html>