<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/generatekeys">CreateNewAccount</a>
        <p>PublicKeyMultibase:<%= kp.publicKeyMultibase %></p>
        <p>PrivateKeyMultibase:<%= kp.privateKeyMultibase %></p>
        <a href="/generateDocumentation">GenerateDocumentation</a>
        <a href="/generateSchema">GenerateSchema</a>
        <a href="/signDocumentation">SignDocumentation</a>
        <a href="/generateVerifiableCredential">GenerateVerifiableCredential</a>
    </div>
    
</body>
</html>